<div class="container mx-auto w-full flex flex-col">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= render "form" %>
    </br>
    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
    </br>
    <%= link_to "Back", :back %>
</div>
