
<%= render(Carousel::ContainerComponent.new(slides: @slides)) %>

<div class="divider mx-8"></div>
<div class="container mx-auto w-full flex flex-col">
	<%= turbo_frame_tag "restaurants", src: restaurants_path, loading: :lazy, class: "flex flex-col space-y-4" do %>
	<div class="animate-pulse card card-side p-2 bg-base-100 shadow-xl border-solid border-1 border-primary">
		<figure>
		<div class="h-24 w-24 md:h-48 md:w-48 xl:h-64 xl:w-64 2xl:h-128 2xl:w-128 mask mask-squircle bg-slate-200" >
		</div>
		</figure>
		<div class="flex flex-1 space-y-6 py-1 card-body p-2 md:p-4 lg:p-8">
			<div class="space-y-3">
				<div class="h-8 bg-slate-200 rounded"></div>
				<div class="h-8"></div>
				<div class="grid grid-cols-3 gap-4">
					<div class="h-2 bg-slate-200 rounded col-span-2"></div>
					<div class="h-2 bg-slate-200 rounded col-span-1"></div>
				</div>
				<div class="grid grid-cols-3 gap-4">
					<div class="h-2 bg-slate-200 rounded col-span-1"></div>
					<div class="h-2 bg-slate-200 rounded col-span-2"></div>
				</div>
				<div class="grid grid-cols-3 gap-8">
					<div class="h-2 bg-slate-200 rounded col-span-3"></div>
					<div class="h-2 bg-slate-200 rounded col-span-2"></div>
					<div class="h-2 bg-slate-200 rounded col-span-3"></div>
				</div>
			</div>
			<div class="flex flex-col">
				<div class="flex h-10 flex-row-reverse">
					<div class="h-full w-40 bg-slate-200 rounded justify-end"></div>
				</div>
			</div>
		</div>
	</div>
	<%end%>

