@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer components {
  .flash {
    animation: appear-then-fade 4s both;
  }
}

@keyframes appear-then-fade {

  0%,
  100% {
    opacity: 0
  }

  5%,
  60% {
    opacity: 1
  }
}
